################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DoMore/.vs/DoMore/v15/Server/sqlite3/db.lock
